- present auction do |presenter|
  %tr.auction{:id => "id-#{presenter.id}"}
    %td.center= presenter.thumbnail_image
    %td= presenter.link
    %td{:class => presenter.color}= presenter.end_time
    %td{:class => 'final_price'}= presenter.final_price
    %td= presenter.seller_profile
    %td= presenter.buyer_profile
    %td.red= presenter.remove_button