%h2 Auctions List

%table
  %tr
    %th{:colspan => 2} Auction
    %th End time
    %th Seller
    %th Buyer

  - @auctions.each do |auction|
    %tr.auction{:id => "id-#{auction.id}"}
      %td= gallery_image_tag auction
      %td= link_to auction.title, auction.url
      %td= auction.end_time
      %td= profile_for(auction.seller)
      %td= profile_for(auction.buyer)
      %td= button_to 'remove', auction, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Add auction', root_path
